params {
    samplesheet = 'config/samplesheet.csv'
    reference = 'data/reference/microbial_reference.fasta'
    annotation = 'data/reference/microbial_annotation.gtf'
    outdir = 'results'
}

process {
    publishDir "${params.outdir}", mode: 'copy'
    containerOptions = '--user 1000:1000'

    withName: FASTQC {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    }
    withName: FASTP {
        container = 'quay.io/biocontainers/fastp:0.23.4--hadf994f_3'
    }
    withName: WGS_ALIGN {
        container = 'quay.io/biocontainers/bwa:0.7.17--he4a0461_11'
    }
    withName: RNA_ALIGN {
        container = 'quay.io/biocontainers/hisat2:2.2.1--h503566f_8'
    }
    withName: SAMTOOLS_SORT_INDEX {
        container = 'quay.io/biocontainers/samtools:1.19.2--h50ea8bc_1'
    }
    withName: VARIANT_CALLING {
        container = 'quay.io/biocontainers/bcftools:1.19--h8b25389_0'
    }
    withName: FEATURE_COUNTS {
        container = 'quay.io/biocontainers/subread:2.0.6--he4a0461_0'
    }
}

profiles {
    docker {
        docker.enabled = true
    }
    test {
        params.outdir = 'results/test'
    }
}

manifest {
    name = 'microbial-genomics-analyst-demo'
    version = '0.1.0'
    author = 'BioinfoPro'
    nextflowVersion = '!>=23.10.0'
}